@import './Styles/nullstyle.scss';



#root {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    font-family: monospace;
}

.main {
    flex: 1 0 auto;
}

.icon-button {
    background: transparent;
    font-size: 25px;
    transition: transform .5s ease;

    &:hover {
        transform: scale(1.1);
        color: red;
    }
}

.favorite {
    color: red;
}

